In [1]:
#1- connect to database

import pyodbc    #stands for python open database connection
#create database connection

connection=pyodbc.connect('Driver={SQL Server};' #can connect with all types (services) of MicroSoft
                          'Serve=Server Name;'
                          'Database=Database Name;'
                          'Trusted_Connection=yes;')

#create cursor object for transaction(retrive records or change records)
cursorObject=connection.cursor()

#execute sql command (execute transaction)
query=cursorObject.execute('SQL Command')

#get all query result (transaction result)
query.fetchall() #return array of tuple

#end your current transaction and make permanent all performed in the transaction.
connection.commit() #for save

#close database connection
connection.close()

OperationalError: ('08001', '[08001] [Microsoft][ODBC SQL Server Driver]Neither DSN nor SERVER keyword supplied (0) (SQLDriverConnect); [08001] [Microsoft][ODBC SQL Server Driver]Invalid connection string attribute (0)')

In [1]:
import pyodbc

connection=pyodbc.connect('Driver={SQL Server};'  
                          'Server=HOZANPC;'
                          'Database=FoodCompany;'
                          'Trusted_Connection=yes;')


cursorObject=connection.cursor()

# query=cursorObject.execute('SQL Command')

# query.fetchall()

connection.commit() 

connection.close()

In [2]:
import pyodbc

connection=pyodbc.connect('Driver={SQL Server};'  
                          'Server=HOZANPC;'
                          'Database=FoodCompany;'
                          'Trusted_Connection=yes;')


cursorObject=connection.cursor()

query=cursorObject.execute('select * from FoodCompany.dbo.emp')
print(query)

for r in query:
    print(r)

# query.fetchall()

connection.commit() 

connection.close()

<pyodbc.Cursor object at 0x000001CFCF1A08B0>
('hozan', 29900000, 'computer science')
('Hamdin', 1200000, 'Mechanic')

In [2]:
import pyodbc

connection=pyodbc.connect('Driver={SQL Server};'
                          'Server=HOZANPC;'
                          'Database=FoodCompany;'
                          'Trusted_Connection=yes;')


cursorObject=connection.cursor()

name=input("Enter Name: ")
Salary=int(input("Enter Salary: "))
dep=input("Enter Dep: ")

#if we use more than one line 
#we must use triple qoutation
sqlcommand=('''insert into FoodCompany.dbo.emp(Emp_Name,Emp_Salary,Emp_Dep)
                                   values
                                   (?,?,?)''')

query=cursorObject.execute(sqlcommand,(name,Salary,dep))

# query.fetchall()

connection.commit() 

connection.close()

Enter Name: nor
Enter Salary: 25555
Enter Dep: dfsdfsdd

In [4]:
import pyodbc

connection=pyodbc.connect('Driver={SQL Server};'  
                          'Server=HOZANPC;'
                          'Database=FoodCompany;'
                          'Trusted_Connection=yes;')


cursorObject=connection.cursor()

query=cursorObject.execute("delete from FoodCompany.dbo.emp where Emp_Name='nor'")

# query.fetchall()

connection.commit()

connection.close()

In [15]:
import pyodbc

connection=pyodbc.connect('Driver={SQL Server};'  
                          'Server=HOZANPC;'
                          'Database=FoodCompany;'
                          'Trusted_Connection=yes;')


cursorObject=connection.cursor()

query=cursorObject.execute("select * from FoodCompany.dbo.emp where Emp_Salary > 1200000")

for r in query:
    print(r)

# query.fetchall()

connection.commit() 

connection.close()

('hozan', 1500000, 'computer science')

In [6]:
import pyodbc

connection=pyodbc.connect('Driver={SQL Server};'  
                          'Server=HOZANPC;'
                          'Database=FoodCompany;'
                          'Trusted_Connection=yes;')


cursorObject=connection.cursor()

query=cursorObject.execute("update FoodCompany.dbo.emp set Emp_Salary=29900000 where Emp_Name='hozan'")

# for r in query:
#     print(r)

connection.commit() 

connection.close()

In [4]:
import pyodbc

conn=pyodbc.connect('Driver={SQL Server};'
                    'Server=HOZANPC;'
                    'Database=FoodCompany;'
                    'Trusted_Connection=yes;')
c=conn.cursor()
q=c.execute('select *from FoodCompany.dbo.emp')
for i in q:
    print(i)
conn.commit()
conn.close()

('hozan', 29900000, 'computer science')
('Hamdin', 1200000, 'Mechanic')

In [7]:
import pyodbc

conn=pyodbc.connect('Driver={SQL Server};'
                    'Server=HOZANPC;'
                    'Database=FoodCompany;'
                    'Trusted_Connection=yes;')
c=conn.cursor()
c.execute("delete from FoodCompany.dbo.emp where user='ronya'")

conn.commit()
conn.close()