In [2]:
x=int(input("x: "))
y=int(input("y: "))
z=2*y+x**2-1
print(z)

x: 5
y: 3
30

In [3]:
x=int(input("x: "))
y=int(input("y: "))
z=2*y+x**2-1
print(z)

x: 2
y: -2
-1

In [9]:
for i in range(3):
    print("this is",i+1,"year") #there are spaces by default
    print(f'this is {i+1} year')

this is 1 year
this is 1 year
this is 2 year
this is 2 year
this is 3 year
this is 3 year

In [10]:
s="123"
for i in s:
    print("this is",i,"stage")
    print(f"this is {i} year")

this is 1 stage
this is 1 year
this is 2 stage
this is 2 year
this is 3 stage
this is 3 year

In [43]:
x=2
if x==3:
    print("o")
else:
    print("t")

t

In [11]:
d=int(input("degree: "))
if d>=50:
    print("pass")
elif 50>d>=45:
    print("extra pass")
else:
    print("fail")

degree: 45
extra pass

In [15]:
x=True
if -9:        #any number it consider true except 0       
    print("y")
else:
    print("n")

y

In [51]:
x=[3,8,19]
for i in x:
    print(i)

3
8
19

In [53]:
print("hozan",end="696")
print("ageed")

hozan696ageed

In [16]:
print("hozan","ageed","farho",sep="/",end="$")#separator space by default when we use comma
print("hozan",end="696")

hozan/ageed/farho$hozan696

In [61]:
for i in range(8):
    print(i)

0
1
2
3
4
5
6
7

In [62]:
for j in range(30,40,3):
    if j%2==0:
        print(f'Event number: {j}')
        print("one")
    else:
        print(f'odd number: {j}')
    print("two")
print("end")

Event number: 30
one
two
odd number: 33
two
Event number: 36
one
two
odd number: 39
two
end

In [2]:
s=0
for i in range(101):
    s+=i   #s=s+i
print(s)

5050

In [81]:
l=list() #l=[]
sm=0
for i in range(101):
    l.append(i)
    sm+=l[i]
print(sm)

5050

In [17]:
l=[]
sm=0
for i in list(range(101)):
    sm+=i
print(sm)

5050

In [82]:
g=[(1,2),(3,4),(5,6)]
for i in g:
    for j in i:
        print(j)

1
2
3
4
5
6

In [20]:
info={"fName=>":"Hozan","lName=>":"Ageed","Age=>":20,"ID=>":1012405}

In [21]:
info

{'fName=>': 'Hozan', 'lName=>': 'Ageed', 'Age=>': 20, 'ID=>': 1012405}

In [22]:
print(info)

{'fName=>': 'Hozan', 'lName=>': 'Ageed', 'Age=>': 20, 'ID=>': 1012405}

In [23]:
for i in info:
    print(i)

fName=>
lName=>
Age=>
ID=>

In [24]:
for i in info:
    print(info[i])

Hozan
Ageed
20
1012405

In [27]:
h=int(input("Enter the hight: "))
w=int(input("Enter the width: "))
for i in range(h):
    for j in range(w):
        print("$",end="")
    print("")

Enter the hight: 4
Enter the width: 8
$$$$$$$$
$$$$$$$$
$$$$$$$$
$$$$$$$$

In [10]:
h=int(input("Enter the Number: "))
for i in range(h):
    print("$"*h)

Enter the Number: 5
$$$$$
$$$$$
$$$$$
$$$$$
$$$$$

In [28]:
s="hozanageedfarho"
s[4:13:2]

'ngefr'

In [29]:
d=dict(Name="hozan",ID=22.36,Age=21)
d

{'Name': 'hozan', 'ID': 22.36, 'Age': 21}

In [30]:
n=49
sc=chr(n)
sc

'1'

In [12]:
z=(21,15,7,21)
z.count(21)
z

(21, 15, 7, 21)

In [11]:
z=(21,15,7,21)
z.index(7)
z

(21, 15, 7, 21)

In [2]:
x=2e2+15
x

215.0